 *{
    margin: 0;
    padding: 0;
  }
  
  
  /* MARK: - Header Start */
  header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgba(65, 156, 133, 0.7);
    padding-top: 10px;
    z-index: 100;
  }
  
  .header-title {
    color: #ffefef;
    font-size: 30px;
    font-family: cursive;
    margin-left: 20px;
  }
  /* MARK: - Header End */
  
  /* MARK: - First Block Start */
  #first-block {
    background-image: url("..tozan.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  
  .info-container {
   background-color: rgb(221, 231, 222, 0);
    font-family: cursive;
    height: 350px;
    width: 50%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 2%;
    left: -5%;
  }
  
  .info-container-name{
    font-size: 55px;
    font-family: 'Segoe UI Black',sans-serif;
  }
  
  .attribution {
    background-color: rgba(32, 87, 73, 0.7);
    color: #fff;
    padding: 30px;
    padding-bottom: 30px;
  }
  
  .button-container {
    width: 45%;
    position: absolute;
    top: 25%;
    left: 0%;
  }

  .sns-btn {
    color: #fff;
    font-size: 15px;
    height: 44px;
    width: 90%;
 
    border-radius: 40px;
  }
  
  .mybtn-fb {
    background: #d60eb1;
  }

  .mybtn-tw {
    background: #39a9f2;
  }
  /* MARK: - First Block End */
  
  /* MARK: - Second Block Start */
  #second-block {
    padding: 60px 0px;
  }
  
  .story-title {
    font-size: 70px;
    font-family: fantasy;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .my-story-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .my-story {
    margin-bottom: 10%;
    font-family: cursive;
  }
  
  .my-story-title {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .my-story-body {
    margin-top: 40px;
    width: 55%;
  }
  
  .image-first{
    background-image: url("../images/mac.jpg");
    background-size:  cover;
    background-position-y: center;
    background-position-x: center;
    width: 450px;
    height: 450px;
  }
  /* MARK: - Second Block End */
  .container{
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: space-between;
  }
  
  footer {
    background-color: rgba(193, 193, 193, 0.7);
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-family: fantasy;
  }
  
  /* responsible */
  @media screen and (max-width: 768px) {
    /* first-block */
    #first-block {
      background-position-x: center;
    }
    .info-container {
      width: 100%;
      top: 0;
      left: 0;
      height: 100vh;
    }
    .attribution {
      width: 100%;
      text-align: center;
    }
    .button-container {
      width: 80%;
    }
    .image-first{
      width: 100%;
      height: 250px;
    }
    .image-second{
      width: 100%;
      height: 250px;
    }
    .image-third{
      width: 100%;
      height: 250px;
    }
    .container{
      flex-direction: column;
      height: unset;
    }
    .my-story-body {
      width: 100%;
      text-align: center;
      margin-bottom: 5%;
    }
    .story-title {
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .info-container-name {
      font-size: 30px;
    }
  }

